{% extends 'base.html' %}

{% block content %}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-7 p-4 mb-0">
                        <div class="card-body">
                            <h1>Login</h1>
                            <p class="text-body-secondary">Sign In to your account</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3"><span class="input-group-text">
                                    <i class="icon cil-user"></i></span>
                                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                                </div>
                                <div class="input-group mb-4"><span class="input-group-text">
                                    <i class="icon cil-lock-locked"></i></span>
                                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Login</button>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{% url 'password_reset' %}" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card col-md-5 text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>If you don't have an account, you can sign up here.</p>
                                <a href="{% url 'signup' %}" class="btn btn-lg btn-outline-light mt-3">Register Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
